.navbar {
    background-color: #f5f7fa;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    flex-shrink: 0;
}

.navbar-logo {
    width: 100px;
    transform: translateY(25%);
    transition: transform 0.3s ease;
}

.navbar-logo:hover {
    transform: scale(1.05) translateY(20%);
    filter: drop-shadow(0 0 5px rgba(255, 204, 0, 0.3));
}


.navbar-links {
    display: flex;
    gap: 50px;
}

.navbar-links a {
    font-family: "Anime Ace", sans-serif;
    color: #000;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #ff0000;
    transform: scale(1.2);
}

.navbar-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
}

.btn-signup {
    margin-left: 10px;
    padding: 12px 25px;
    border-radius: 20px 5px;
    background-color: #000;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-signup:hover {
    opacity: .5;
}

.btn-login {
    margin-left: 10px;
    padding: 12px 25px;
    border-radius: 20px 5px;
    background-color: #cf2023;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.btn-login:hover {
    opacity: .5;
}