<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/motif.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animes.css}">
    <link href="https://fonts.cdnfonts.com/css/anime-ace" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/motifs :: motifs"></div>

<h1>Sauce?</h1>
<div class="search-container">
    <form id="search-form" action="#" method="get">
        <input type="text" id="title-input" name="title" placeholder="Anime title">
        <select id="subtype-input" name="subtype">
            <option value="">Subtypes</option>
            <option value="TV">TV</option>
            <option value="movie">Movie</option>
            <option value="ONA">ONA</option>
            <option value="special">Special</option>
        </select>
        <button type="submit">Search</button>
        <button type="button" id="advanced-search-toggle">Advanced search</button>
    </form>
    <div id="advanced-search" style="display: none;">
        <select id="sort-by-input" name="sort-by">
            <option value="">Sort By</option>
            <option value="oldest">Oldest First</option>
            <option value="newest">Newest First</option>
            <option value="lowest">Lowest Episode Count</option>
            <option value="highest">Highest Episode Count</option>
        </select>
        <select id="status-input" name="status">
            <option value="">Status</option>
            <option value="finished">Finished</option>
            <option value="current">Current</option>
        </select>
    </div>
</div>

<h1>Anime Lists</h1>
<div class="anime-list" id="anime-container"></div>

<div id="pagination">
    <div id="load-more" class="circle">
        <div class="arrow"></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script th:src="@{/js/animes.js}"></script>
<script th:src="@{/js/motif.js}"></script>
</body>
</html>
