<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/motif.css}">
    <link href="https://fonts.cdnfonts.com/css/anime-ace" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <style>


    </style>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/navbar :: navbar-mobile-top"></div>
<div th:replace="fragments/navbar :: navbar-mobile-bottom"></div>
<div th:include="fragments/motifs :: motifs"></div>

<h1>Trending Animes</h1>
<div class="slider">
    <div th:each="anime : ${trendingAnimes}" class="slide">
        <a th:href="@{/animes/{id}(id=${anime.id})}">
        <img th:src="${anime.attributes.posterImage.small}" alt="Anime Image" class="slide-image"/>
        <h2 class="slide-title" th:text="${anime.attributes.titles.en}"></h2>
        <p class="slide-synopsis" th:text="${anime.attributes.synopsis}"></p>
        </a>
    </div>
</div>


<h1>Upcoming Animes</h1>
<div class="slider">
    <div th:each="anime : ${upcomingAnimes}" class="slide">
        <a th:href="@{/animes/{id}(id=${anime.id})}">
            <img th:src="${anime.attributes.posterImage.small}" alt="Anime Image" class="slide-image"/>
            <h2 class="slide-title" th:text="${anime.attributes.titles.en}"></h2>
            <p class="slide-synopsis" th:text="${anime.attributes.synopsis}"></p>
        </a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script th:src="@{/js/motif.js}"></script>
<script th:src="@{/js/navbar-mobile.js}"></script>
<script th:src="@{/js/home.js}"></script>

</body>
</html>
