<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login</title>
  <link href="https://fonts.cdnfonts.com/css/anime-ace" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form-page.css}">
</head>
<body>
<a href="/" class="back-btn">
  <i class="fas fa-arrow-left"></i>
</a>
<div class="container">
  <div class="logo">
    <img th:src="@{/images/Kodo.png}" alt="Logo">
  </div>

  <h1 class="text-center">Login</h1>
  <form th:action="@{/login}" th:object="${authRequest}" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <span></span>
  </form>
  <a th:href="@{/signup}"><button class="btn btn-primary btn-block"> Signup</button></a>
</div>
<script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
</body>

</html>
